.container {
    display: flex;
    justify-content: center;
}

.post-container {
    padding-top: 30px;
    color: #F3EAC0;
    width: 40%;
}

.container strong {
    color: #DC9750;
}

.container em {
    color: #DC9750;
}

.container code {
    background-color: #F3EAC0;
    color: #922C40;
    /* padding: 3px; */
    border-radius: 3px ;
    font-size: 15px;
}

.container pre {
    background-color: #F3EAC0;
    color: #922C40;
    padding: 3px;
    border-radius: 3px ;
}

.container pre code {
    font-size: 10px;
}

.container td {
    text-align: left;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 8px;
    vertical-align: top;
}

/* .container h3 {
    background-color: #F3EAC0;
    color: #922C40;
    width: fit-content;
    padding: 5px;
    border-radius: 5px;
} */

.image {
    width: 80%;
    height: auto;
    /* display: flex;
    justify-content: center; */
    position: relative;
    border-radius: 25px;
    left: 50%;
    transform: translate(-50%, 0%);
    /* margin-top: 5%; */
}

@media only screen and (max-width: 800px) {
    .post-container {
        width: 80%;
        padding-top: 0px;
    }

    .image {
        margin-top: 100px;
    }
}