.contact-button {
	padding-left: 5%;
	padding-right: 5%;
}

.contact-div {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px;
}

.contact-icon, .contact-icon:visited {
	color: #ffffff;
}

.contact-icon:hover {
	transform: scale(1.2);
	transition: 0.2s;
}
