/* body {
    background-color: #0e9d57;
} */
.posts-container {
    display: flex;
    justify-content: center;
    align-items: center;
    display: grid;
    align-items: center;
    position: relative;
    padding-top: -15%;
    left: 50%;
    transform: translate(-50%, -2%);
    grid-template-columns: 1;  /*Add this*/
}