.container {
	padding: 5%;
	display: flex;
	align-items: center;
}

.portrait {
	width: 15%;
	height: auto;
	margin-right: 5%;
	margin-left: 32.5%;
	border-radius: 25px;
}

.text-typing-primary {
	color: white;
	font-weight: bolder;
	font-size: 5vw;
	padding-top: 2vw;
	text-align: left;
}

.text-secondary {
	color: white;
	font-size: 25px;
}
