.contact_button {
	padding-left: 5%;
	padding-right: 5%;
}

.contact_div {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px;
}

.contact_icon, .contact_icon:visited {
	color: #ffffff;
}

.contact_icon:hover {
	transform: scale(1.2);
	transition: 0.2s;
}
