.navbar {
	height: 80px;
	width: 100%;
	background: #F3EAC0;
	color: #1E2640;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 2rem;
	font-size: 1.2rem;
}

.nav_logo {
	text-decoration: none;
	color: #1E2640;
	font-size: 35px;
	font-weight: bolder;
}

.nav_links {
	display: grid;
	grid-template-columns: repeat(2, auto);
	grid-gap: 35px;
	list-style: none;
}

.nav_link {
	text-decoration: none;
	color: #1E2640;
	transition: 0.3s all;
	background-color: #F3EAC0;
	padding: 8px;
	border-radius: 5px;	
	font-size: 25px;
	display: flex;
	align-items: center;
	font-weight: bold;
}

.nav_link:hover {
	color: #F3EAC0;
	background-color: #1E2640;
	transition: .2s;
}

.nav_icon {
	display: none;
	font-size: 2rem;
	cursor: pointer;
}

@media only screen and (max-width: 800px) {
	.navbar {
		position: relative;
	}

	.nav_links {
		display: flex;
		flex-direction: column;
		grid-gap: 15px;
		position: absolute;
		text-align: center;
		width: 100%;
		top: 80px;
		left: -100%;
		transition: 0.2s all;
		z-index: 1;
		list-style: none;
	}

	.nav_links_active {
		display: flex;
		flex-direction: column;
		grid-gap: 15px;
		text-align: center;
		width: 100%;
		transition: 0.2s all;
		z-index: 1;
		list-style: none;
		background: #1E2640;
		left: 0%;
		top: 80px;
		/* padding-top: 3%; */
		padding-right: 5%;
		padding-left: 3%;
		padding-bottom: 3%;
		position: absolute;
	}

	.nav_icon {
		display: flex;
	}
}
