.navbar {
	height: 80px;
	width: 100%;
	background: #fbcd85;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 2rem;
	font-size: 1.2rem;
}

.nav-logo {
	text-decoration: none;
	color: #3a2d28;
	font-size: 35px;
	font-weight: bolder;
}

.nav-links {
	display: grid;
	grid-template-columns: repeat(5, auto);
	grid-gap: 20px;
	list-style: none;
}

.nav-link {
	text-decoration: none;
	color: #3a2d28;
	transition: 0.3s all;
}

.nav-link:hover {
	color: #7ca5b8;
}

.nav-icon {
	display: none;
	font-size: 2rem;
	cursor: pointer;
}
